@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@700&display=swap');

@font-face {
	font-family: 'VagRounded';
	src: url('./fonts/VagRounded/VAGRoundedStd-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'HelveticaRounded';
	src: url('./fonts/HelveticaRounded/HelveticaRoundedLTStd-BdCn.ttf')
		format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'LiberationSans';
	src: url('./fonts/liberation-sans/LiberationSans-Regular.ttf')
		format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Raleway';
	src: url('./fonts/Raleway/static/Raleway-Regular.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'RalewayBold';
	src: url('./fonts/Raleway/static/Raleway-Bold.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'National';
	src: url('./fonts/National/National_2_Regular.otf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
/* @font-face {
	font-family: 'Pilcrowrounded';
	src: url('./fonts/PilcrowRounded-Heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Pilcrowrounded';
	src: url('./fonts/PilcrowRounded-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
} */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap');
*,
html,
body {
	// font-family: 'Bebas Neue', cursive;
	font-family: 'LiberationSans';
	scroll-behavior: smooth;
}

.titleLogo * {
	font-family: 'Ramabhadra', sans-serif;
}

.titleLogo {
	font-family: 'Ramabhadra', sans-serif;
}

.subTitleMain {
	font-family: 'Fjalla One', sans-serif;
}

.Raleway {
	font-family: 'RalewayBold';
}

@for $i from 0 through 15 {
	.floating-#{$i} {
		animation-name: floating;
		animation-duration: $i % 5 * 2s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
		margin-left: 30px;
		margin-top: 5px;
	}

	@keyframes floating {
		0% {
			transform: translate(0, 0px);
		}
		50% {
			transform: translate(0, (($i)+3) %5 * 5px);
		}
		100% {
			transform: translate(0, -0px);
		}
	}
}

.loader {
	position: relative;
	width: 350px;
	height: 350px;
	border-radius: 50%;
	background: linear-gradient(#fffb00, #aea5fd, #87d2ff);
	animation: animate 1.2s linear infinite;
}

@keyframes animate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.loader span {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: linear-gradient(#fffb00, #aea5fd, #87d2ff);
}

.loader span:nth-child(1) {
	filter: blur(5px);
}

.loader span:nth-child(2) {
	filter: blur(10px);
}

.loader span:nth-child(3) {
	filter: blur(25px);
}

.loader span:nth-child(4) {
	filter: blur(50px);
}

.loader:after {
	content: '';
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	background: #f1f1f1;
	border: solid white 5px;
	border-radius: 50%;
}

.divider {
	border: 0.5px solid #ffffff;
	background-color: #ffffff;
	width: 30%;
	// $margin-top: (
	// 	1920px: 28px,
	// 	1440px: 18px,
	// 	768px: 10px,
	// 	375px: 10px,
	// );
	// @include poly-fluid-sizing('margin-top', $margin-top);
}

.divider-full {
	border: 0.5px solid #707070;
	background-color: #707070;
	width: 100%;
	// $margin-top: (
	// 	1920px: 28px,
	// 	1440px: 18px,
	// 	768px: 10px,
	// 	375px: 10px,
	// );
	// @include poly-fluid-sizing('margin-top', $margin-top);
}

.border-l-05 {
	border-left: 0.5px solid white;
}

.swiper-pagination-bullet {
	opacity: 0.5 !important;
	background-color: #ffffff !important;
}

.swiper-pagination-bullet-active {
	opacity: 1 !important;
}

.swiper-wrapper {
	// justify-content: center;
	align-items: center;
}

.textMain {
	background: #aea5fd;
	background: linear-gradient(90deg, #aea5fd, #87d2ff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.hoverTextMain:hover {
	transition: 1s ease-in;
	background: #aea5fd;
	background: linear-gradient(90deg, #aea5fd, #87d2ff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.textGold {
	background: #aea5fd;
	background: linear-gradient(
		90deg,
		rgba(255, 230, 0, 0.185),
		rgb(255, 242, 0)
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.gradientBgBottle {
	background: rgb(10, 9, 0);
	background: linear-gradient(
		180deg,
		rgba(10, 9, 0, 1) 0%,
		rgba(255, 244, 0, 0.5074404761904762) 100%,
		rgba(0, 212, 255, 0.6727065826330532) 100%
	);
}

.container-auth {
	min-height: 100vh;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	$padding-left: (
		1920px: 406px,
		1440px: 406px,
		768px: 50px,
		375px: 12px,
	);
	@include poly-fluid-sizing('padding-left', $padding-left);

	$padding-right: (
		1920px: 406px,
		1440px: 406px,
		768px: 50px,
		375px: 12px,
	);
	@include poly-fluid-sizing('padding-right', $padding-right);

	$padding-top: (
		1920px: 90px,
		768px: 80px,
		375px: 30px,
	);
	@include poly-fluid-sizing('padding-top', $padding-top);

	$padding-bottom: (
		1920px: 90px,
		768px: 80px,
		375px: 30px,
	);
	@include poly-fluid-sizing('padding-bottom', $padding-bottom);

	.box {
		$padding-left: (
			1920px: 183px,
			1280px: 20px,
			768px: 50px,
			375px: 12px,
		);
		@include poly-fluid-sizing('padding-left', $padding-left);

		$padding-right: (
			1920px: 183px,
			1280px: 20px,
			768px: 50px,
			375px: 12px,
		);
		@include poly-fluid-sizing('padding-right', $padding-right);

		$padding-top: (
			1920px: 38px,
			768px: 30px,
			375px: 30px,
		);
		@include poly-fluid-sizing('padding-top', $padding-top);

		$padding-bottom: (
			1920px: 38px,
			768px: 30px,
			375px: 30px,
		);
		@include poly-fluid-sizing('padding-bottom', $padding-bottom);
	}
}

/* Works on Firefox */
.scroll-custom {
	scrollbar-width: thin;
	scrollbar-color: rgba(0, 0, 0, 0.692) #f5f5f54b;
}

/* Works on Chrome, Edge, and Safari */
.scroll-custom::-webkit-scrollbar {
	width: 7px;
	background-color: #f5f5f54b;
}

.scroll-custom::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: transparent;
	background-image: -webkit-gradient(
		linear,
		40% 0%,
		75% 84%,
		from(rgba(0, 0, 0, 0.692)),
		to(rgba(0, 0, 0, 0.692)),
		color-stop(0.6, rgba(0, 0, 0, 0.692))
	);
}

.box-balance {
	background: #ffffff 0% 0% no-repeat padding-box;
	box-shadow: 5px 5px 5px #0000000d;
	border-radius: 20px;
}

.separator-right {
	border: 1px solid #707070;
	width: 100%;
	height: 100%;
}
.box-amount-recharge {
	background: #ffffff 0% 0% no-repeat padding-box;
	box-shadow: 0px 10px 30px #00000029;
	border-radius: 20px;
}
